:root {
	/* Colores */
	--dark-color: #162530;
	--dark-color-alt: #111D26;

	--color-line: #38607D;

	--color-light: #fafafa;
	--color-light-alt: #F6EDFC;

	/* First color */
	--first-color				: #436CFF;
	--first-color-alt			: #5C80FF;
	--first-color-hover		: #3A5EDF;

	/* Second color */
	--second-color: #ef3748;
	--second-color-alt: #E36F7B;
	--second-color-hover: #dd2b3c;

	/* Third color */
	--third-color: #20b004;
	--third-color-alt: #55b742;
	--third-color-hover: #22990b;

	/* Fonts Family */
	--font-titles: 'Raleway', sans-serif;
	--font-text: 'Open Sans', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--font-size: 1rem;
	--small-font-size: .85rem;

	/* Heights */
	--header-height: 3rem;
}

@media screen and (min-width: 64em) {
	:root {
		/* Fonts size */
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.75rem;
		--font-size: 1.1rem;
		--small-font-size: .95rem;

		/* Heights */
		--header-height: 4rem;
	}
}
* {
	box-sizing: border-box;
}
img {
	min-width: 100%;
}

body {
	margin: 0;
	font-size: var(--font-size);
	font-family: var(--font-text);
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	font-family: var(--font-titles);
	position: absolute;
	width: 100%;
	top: 1em;
	left: 0;
	text-align: center;
}

.container{
	width: 500px;
	height: 300px;
	background-image: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	box-shadow: 0 0 0 10px var(--color-light-alt),
					0 0 0 12px var(--color-line),
					0 20px 20px -12px var(--dark-color);
}
.container:hover .text{
	transform: translateY(0);
}

.text {
	color: var(--color-light);
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	margin: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	transform: translateY(-100%);
	transition: transform .3s;
}