:root {
	/* Colores */
	--dark-color: #162530;
	--dark-color-alt: #111D26;

	--color-line: #38607D;

	--color-light: #fafafa;
	--color-light-alt: #F6EDFC;

	/* First color */
	--first-color				: #436CFF;
	--first-color-alt			: #5C80FF;
	--first-color-hover		: #3A5EDF;

	/* Second color */
	--second-color: #ef3748;
	--second-color-alt: #E36F7B;
	--second-color-hover: #dd2b3c;

	/* Third color */
	--third-color: #20b004;
	--third-color-alt: #55b742;
	--third-color-hover: #22990b;

	/* Fonts Family */
	--font-titles: 'Raleway', sans-serif;
	--font-text: 'Open Sans', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--font-size: 1rem;
	--small-font-size: .85rem;

	/* Heights */
	--header-height: 3rem;
}

@media screen and (min-width: 64em) {
	:root {
		/* Fonts size */
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.75rem;
		--font-size: 1.1rem;
		--small-font-size: .95rem;

		/* Heights */
		--header-height: 4rem;
	}
}
* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

body {
	background-color: var(--dark-color);
	color: var(--color-light);
	margin: 0;
	font-size: var(--font-size);
	font-family: var(--font-text);
}

.title {
	font-family: var(--font-titles);
	text-align: center;
}
.container {
	box-shadow: 0 0 0 1px var(--second-color);
	display: flex;
	margin-bottom: 1em;
}

.item {
	background-color: var(--first-color-hover);
	text-align: center;
	padding: 1em 0;
	flex: auto;
}
.item:nth-child(even) {
	background-color: var(--third-color);
}